* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: inherit;
}

:root {
  --primary-color: #33008a;
}

::-webkit-scrollbar {
  width: 14px;
  height: 14px;
}

::-webkit-scrollbar-track {
  background: rgb(240, 240, 240);
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
  border-radius: 6px;
  border: 3px solid rgb(240, 240, 240);
}

/* OverlayMenu animation START */
.slide-enter {
  left: -100%;
}
.slide-enter-active {
  left: 0;
  transition: left 300ms;
}
.slide-exit {
  left: 0;
}
.slide-exit-active {
  left: -100%;
  transition: left 300ms;
}
/* OverlayMenu animation END */

/* ModalWindow animation START */
.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 100%;
  transition: opacity 300ms;
}

.fade-exit {
  opacity: 100%;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 300ms;
}
/* ModalWindow animation END */

input[type="number"]::-webkit-inner-spin-button {
  height: 40px;
}

label {
  color: gray;
  font-weight: 500;
}
